head
        title=title
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")

        link(rel="icon",href="/extra/favicon.png")
        <meta name="description" content="Make your podcasting, transcribing and editing workflows efficient by using detailed guidelines and free resources at the Spext Guide">
        <meta name="keywords" content="how to podcast,top guide,guide,spext,audio,speech,automated transcription,human transcription,talk,audio editing,voice editing,audio production,voice,trint,descript,learn"/>
        <meta name="robots" content="index">
        <meta property="og:title" content="Comprehensive resources for Transcription and Voice Editing">
        <meta property="og:url" content="https://guides.spext.co/" />
        <meta property="og:image" content="https://guides.spext.co/extra/logo.png" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@spext_app">
        <meta name="twitter:title" content="Comprehensive resources for Transcription and Voice Editing">
        <meta name="twitter:description" content="Make your podcasting, transcribing and editing workflows efficient by using detailed guidelines and free resources at the Spext Guide">
        <meta name="twitter:image" content="https://guides.spext.co/extra/logo.png">
        link(rel="stylesheet",href="/extra/fonts.css")
        link(rel="stylesheet",href="/extra/normalize.css")
        link(rel="stylesheet",href="/extra/milligram.min.css")
        link(rel="stylesheet",href="/extra/animate.min.css", )
        link(rel="stylesheet",href="/extra/font-awesome.min.css")
        //- - var location =`http://${window.location.host}/`
        link(rel="stylesheet",href=`/css/style.css`)
        script(src="/extra/jquery-3.3.1.min.js", defer)
        script(src="/js/bundle.js",defer)
        script(src="/extra/intercom.js",defer)