mixin menulist
    //- li
    //-     a(href="/") home
    //- - var firstURL =   `episodes/${((epList[0].name).toLowerCase().replace(/ /g,'-'))}`
    //- li 
    //-     a(href=`${firstURL}`) podcasting
    li
        span(class="fa fa-external-link",style={'font-weight': 'bold','margin-right':'5px'}) 
        a(href="https://www.spext.co",style={'text-transform': 'capitalize'}) Go to Spext
    //- li 
    //-     a(href="#") contact

nav.navigation
    .container.nav
        a(href="/")
            img(src="/image/home/logo.png",height="40px",alt="Spext Logo")
        ul.right.big
            +menulist
        .right.small
            #ham
                i(class="fa fa-bars")

#hidden-menu.zoomIn.animated
    #overlay-close
        i(class="fa fa-times")
    ul
        +menulist
