.newsletter-widget
            .container
                svg(width="60",height="50",viewBox="0 0 60 50",fill="none",xmlns="http://www.w3.org/2000/svg").center
                    rect(width="59.2857",height="50",fill="black",fill-opacity="0")
                    rect(width="59.2857",height="50",fill="black",fill-opacity="0")
                    path(d="M51.9169 0H18.0872C16.1328 0 14.2585 0.783057 12.8766 2.17691C11.4947 3.57076 10.7183 5.46123 10.7183 7.43243V20.9459H7.36884C5.41451 20.9459 3.54021 21.729 2.15829 23.1229C0.776358 24.5167 0 26.4072 0 28.3784V42.5676C0 44.5388 0.776358 46.4292 2.15829 47.8231C3.54021 49.2169 5.41451 50 7.36884 50H50.5771C52.8867 50 55.1018 49.0746 56.735 47.4273C58.3682 45.78 59.2857 43.5458 59.2857 41.2162V7.43243C59.2857 5.46123 58.5094 3.57076 57.1274 2.17691C55.7455 0.783057 53.8712 0 51.9169 0ZM10.7183 42.5676C10.7183 43.4636 10.3654 44.3229 9.73728 44.9564C9.10913 45.59 8.25718 45.9459 7.36884 45.9459C6.48051 45.9459 5.62856 45.59 5.00041 44.9564C4.37226 44.3229 4.01937 43.4636 4.01937 42.5676V28.3784C4.01937 27.4824 4.37226 26.6231 5.00041 25.9895C5.62856 25.3559 6.48051 25 7.36884 25H10.7183V42.5676ZM55.2663 41.2162C55.2663 42.4706 54.7723 43.6736 53.8929 44.5606C53.0135 45.4476 51.8207 45.9459 50.5771 45.9459H13.8668C14.3981 44.9006 14.6737 43.7422 14.6707 42.5676V7.43243C14.6707 6.53643 15.0236 5.67713 15.6517 5.04356C16.2799 4.40999 17.1318 4.05405 18.0202 4.05405H51.9169C52.8052 4.05405 53.6572 4.40999 54.2853 5.04356C54.9134 5.67713 55.2663 6.53643 55.2663 7.43243V41.2162Z",fill="white")
                    path(d="M21.2357 22.6351H31.954C32.487 22.6351 32.9982 22.4215 33.3751 22.0414C33.7519 21.6613 33.9637 21.1457 33.9637 20.6081V10.4729C33.9637 9.93535 33.7519 9.41977 33.3751 9.03963C32.9982 8.65948 32.487 8.44592 31.954 8.44592H21.2357C20.7027 8.44592 20.1915 8.65948 19.8146 9.03963C19.4377 9.41977 19.226 9.93535 19.226 10.4729V20.6081C19.226 21.1457 19.4377 21.6613 19.8146 22.0414C20.1915 22.4215 20.7027 22.6351 21.2357 22.6351ZM23.2454 12.5H29.9443V18.5811H23.2454V12.5Z",fill="white")
                    path(d="M48.7014 10.4729H39.3229C38.7899 10.4729 38.2787 10.6865 37.9018 11.0666C37.5249 11.4467 37.3132 11.9623 37.3132 12.4999C37.3132 13.0375 37.5249 13.5531 37.9018 13.9333C38.2787 14.3134 38.7899 14.527 39.3229 14.527H48.7014C49.2344 14.527 49.7456 14.3134 50.1225 13.9333C50.4993 13.5531 50.7111 13.0375 50.7111 12.4999C50.7111 11.9623 50.4993 11.4467 50.1225 11.0666C49.7456 10.6865 49.2344 10.4729 48.7014 10.4729Z",fill="white")
                    path(d="M48.7014 18.5811H39.3229C38.7899 18.5811 38.2787 18.7946 37.9018 19.1748C37.5249 19.5549 37.3132 20.0705 37.3132 20.6081C37.3132 21.1457 37.5249 21.6613 37.9018 22.0414C38.2787 22.4215 38.7899 22.6351 39.3229 22.6351H48.7014C49.2344 22.6351 49.7456 22.4215 50.1225 22.0414C50.4993 21.6613 50.7111 21.1457 50.7111 20.6081C50.7111 20.0705 50.4993 19.5549 50.1225 19.1748C49.7456 18.7946 49.2344 18.5811 48.7014 18.5811Z",fill="white")
                    path(d="M48.7014 27.3649H21.2357C20.7027 27.3649 20.1915 27.5784 19.8146 27.9586C19.4377 28.3387 19.226 28.8543 19.226 29.3919C19.226 29.9295 19.4377 30.4451 19.8146 30.8252C20.1915 31.2054 20.7027 31.4189 21.2357 31.4189H48.7014C49.2344 31.4189 49.7455 31.2054 50.1224 30.8252C50.4993 30.4451 50.7111 29.9295 50.7111 29.3919C50.7111 28.8543 50.4993 28.3387 50.1224 27.9586C49.7455 27.5784 49.2344 27.3649 48.7014 27.3649Z",fill="white")
                    path(d="M48.7014 35.4729H21.2357C20.7027 35.4729 20.1915 35.6865 19.8146 36.0666C19.4377 36.4467 19.226 36.9623 19.226 37.4999C19.226 38.0375 19.4377 38.5531 19.8146 38.9333C20.1915 39.3134 20.7027 39.527 21.2357 39.527H48.7014C49.2344 39.527 49.7455 39.3134 50.1224 38.9333C50.4993 38.5531 50.7111 38.0375 50.7111 37.4999C50.7111 36.9623 50.4993 36.4467 50.1224 36.0666C49.7455 35.6865 49.2344 35.4729 48.7014 35.4729Z",fill="white")
                h4(style="font-weight:bold;") Subscribe to get this as an ebook newsletter
                form(action="https://www.mailzen.io/5b979ccf66781400146bfb91",method="post")
                    input(type="email",placeholder="Enter your email",style="",name="email",required)
                    h6 Signup with your email for regular updates on our products and articles, don't worry we won't spam you.
                    input(type="submit", value="Subscribe").button.inverted.bigger