mixin share(position,accent=`default`,orientation=`horizontal`,where=`relative`)
    //- - var divClass = (center == true) ? 'table' : 'sh';
    div(class=`${position}`)
        ul(class=`share ${accent} ${orientation}`)
            if orientation==`vertical`
                li
                    a(href="#",class="fa fa-bookmark")
            li
                a(href="https://www.facebook.com/sharer/sharer.php?u=guides.spext.co&quote=Loving these guides!", target="_blank", class="fa fa-facebook")
            li
                a(href="https://twitter.com/intent/tweet?text=Loving%20guides.spext.co%20from%20@spext_app", target="_blank", class="fa fa-twitter")
            if orientation == `horizontal`
                li
                    a(href="https://plus.google.com/share?url=guides.spext.co", target="_blank",class="fa fa-google-plus")
                li
                    a(href="https://www.linkedin.com/shareArticle?mini=true&url=guides.spext.co&title=Loving%20guides.spext.co%20from%20%40spext_app", target="_blank",class="fa fa-linkedin")
                li
                    a(href="mailto:?subject=Hey! check out guides.spext.co",class="fa fa-envelope")