@mute-gray-bg : #f4f5f6;
//  @accent-clr : #0AD3BF;
@focus-accent-clr : #606c76;
@mute-text : #dadbdb;
@less-muted-text : #b1b1b1;
@para-color :#3d3d3d;
//new colors
@color-white : #fff;
@color-black : #000;
@gray-text : #7D7D7D;
@accent-clr : #601F7C;
@accent-clr-light : #FF9735;
body {
    font-family: 'Roboto';
}

ul {
    margin: 0;
}

.button {
    background-color: @accent-clr;
    border: @accent-clr;
    &.inverted {
        background-color: @color-white;
        color: @accent-clr;
        border: @color-white;
    }
    &.bigger {
        font-size: 1.5rem;
        height: 4.5rem;
        padding: auto 4rem;
        line-height: 4.5rem;
    }
}

.bold{
    font-weight: 500;
}

blockquote {
    margin-left: 6px; 
    &.roboto{
        font-family: 'Roboto', sans-serif;
    }
    &.color {
        border-left-color: @accent-clr;
    }
    &.colorLight {
        border-left-color: @accent-clr-light;
    }
    &.textColor {
        color: @accent-clr;
    }
    &.textColorLight {
        color: @accent-clr-light;
    }
    &.text-15 {
        font-size: 1.3em;
    }
    &.thickbar{
        border-left-width: 5px;
    }
}

.underline{
    text-decoration : underline !important; 
}

.lightText{
    color: @accent-clr-light !important;
}

input[type='submit'] {
    border: @focus-accent-clr;
}

input[tpye='email']:focus {
    border-color: @focus-accent-clr;
}

a {
    color: @accent-clr;
    &.mutedLink {
        color: @mute-text  !important;
        // text-decoration: line-through;
    }
    &.inline {
        display: inline;
    }
}

div > .two-column-equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: @mute-text;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.u-transition--fadeOut300 {
    visibility: hidden;
    opacity: 0;
    // -webkit-transition: visibility 0s linear .3s, opacity .3s 0s;
    // transition: visibility 0s linear .3s, opacity .3s 0s;
}

.u-transition--fadeIn300 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear 0s, opacity .3s 0s;
    transition: visibility 0s linear 0s, opacity .3s 0s;
}
