.nav {
    padding-top: 30px;
    ul {
        &.breadcrumb {
            font-weight: 500;
            list-style: none;
            margin: 0 0 40px 0;
            li {
                display: inline;
                a {
                    color: @accent-clr-light;
                    &.active {
                        color: @focus-accent-clr;
                    }
                }
            }
            li+li::before {
                padding: 0 15px;
                color: black;
                content: '/';
            }
        }
    }
    .chapter {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 130px 1fr;
        span {
            font-weight: bold;
            color: @gray-text;
            font-size: 20px;
            line-height: 20px;
        }
        &>*:first-child::after {
            padding-left: 5px;
            color: @accent-clr;
            content: ' | ';
        }
    }
}

.head {
    margin-bottom: 80px;
    h1 {
        font-family: 'Bitter', serif;
        font-weight: 500;
        color: @accent-clr-light;
        margin: 0 !important;
    }
    h4 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: @para-color;
    }
    .author {
        color: @gray-text;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-weight: 400;
        font-size: 14px;
        display: grid;
        margin-bottom: 30px !important;
        div+div {
            a {
                color: @accent-clr-light;
            }
        }
        span {
            display: block;
        }
    }
}

.paragraphs {
    line-height: 2em;
    word-spacing: 3px;
    position: relative;
    .section {
        margin-bottom: 50px;
        font-family: 'Lora', serif;
        color: @para-color;
        letter-spacing: -0.05px;
        h3.heading {
            font-family: 'Raleway', sans-serif !important;
            font-weight: 500;
            margin: 25px 0 -10px 0;
            color: @accent-clr-light;
            letter-spacing: 0.7px;
            font-size: 26px;
        }
        p {
            margin: 30px 5px;
            font-weight: 400;
            &.end {
                text-align: center;
                font-style: italic;
                &::before,
                &::after {
                    padding: 20px;
                    content: "\""
                }
            }
            &.no-para {
                margin: 15px 5px !important;
            }
        }
        ol,
        ul {
            padding-left: 5px;
            li {
                list-style-position: inside;
                &.list-head {
                    color: @color-black;
                    margin: 30px 0 -25px 0;
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
            ol,
            ul.sub-list {
                margin-left: 15px !important;
                font-size: inherit;
                list-style: lower-alpha;
            }
        }
        img {
            margin: 20px 0;
        }
    }
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 400;
    margin-top: 200px;
    margin-bottom: 50px;
    p {
        margin: auto 18px;
    }
    .previous {
        text-align: left;
        a {
            &::before {
                padding: 0 8px 0 0;
                font-family: 'FontAwesome';
                font-weight: lighter;
                content: '\f060'
            }
        }
    }
    .next {
        text-align: right;
        a {
            &::after {
                padding: 0 0 0 8px;
                font-family: 'FontAwesome';
                font-weight: lighter;
                content: '\f061 '
            }
        }
    }
}

.underlined {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

.strong {
    font-weight: bold !important;
    color: @color-black;
}

.dark {
    color: @color-black  !important;
}

.bookmark {
    li {
        a {
            color: @accent-clr !important;
        }
    }
    &.fixed {
        position: fixed;
        float: left;
        clear: both;
        top: 175px;
        left:100px;
    }
    &.absolute {
        position: absolute;
        float: left;
        clear: both;
    }
}