.overlay-banner {
    position: absolute;
    top: -20px;
    transform: rotate(-7deg);
    opacity: 0.7;
    width: 50vw;
    min-width: 250px;
    max-width: 540px;
}

.right {
    float: right;
    clear: both;
}

.text-muted {
    color: @less-muted-text;
    font-size: 0.7em;
}

.banner {
    background: @accent-clr-light;
    width: 100%;
    .container {
        display: grid;
        max-width: 92%;
        grid-template-areas: 1fr 50%;
        #contents {
            grid-column: 2 / span 1;
            text-align: right;
            color: @color-white;
            h1 {
                font-family: 'Bitter', serif;
                word-spacing: 4px;
                margin-top: 0 !important;
                font-weight: bold;
                letter-spacing: 0.05px;
                margin-bottom: 8px;
            }
            h5#episodes {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            #branding {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 40%;
                float: right;
                right: 4%;
                justify-content: flex-end;
                &>* {
                    margin-top: 10px;
                }
                img {
                    margin-left: 20px;
                }
            }
            a {
                align-self: flex-end;
            }
            &>* {
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin: 5px auto 0 auto;
                } // margin: 15px 0;
            }
        }
    }
}

.content {
    margin-bottom: 80px;
    .episode-list {
        margin-top: 15vh;
        table {
            td {
                display: grid;
                grid-template-columns: 1fr 20px;
                div:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 10px;
                }
                padding: 10px 20px;
                cursor: pointer;
                &:hover {
                    span.name {
                        text-decoration: underline;
                    }
                    div:nth-child(2) {
                        transform: translateX(4px);
                    }
                }
                a {
                    color: @accent-clr;
                    font-weight: 500;
                    display: block;
                    margin-bottom:1.4em;
                    font-size: 18px;
                    span.name {
                        font-family: 'Bitter', serif;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                    }
                    span.read-time {
                        font-size: 0.7em;
                        margin-left: 15px;
                        color: @less-muted-text;
                    }
                }
            }
        }
    }
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}