// Desktop
@media(min-width: 768px) {
    .overlay-banner {
        left: 6%;
    }
    .banner {
        .container {
            #contents {
                padding-top: 8%;
                padding-bottom: 8%;
                h1.landing-heading {
                    font-size: 50px;
                    line-height: 70px;
                }
                &>* {
                    margin: 15px 0;
                }
            }
        }
    }
    .content {
        .episode-list {
            table {
                td {
                    h5 {}
                }
            }
        }
    }
    .paragraphs {
        .section {
            font-size: 1.15em;
            line-height: 2em;
        }
    }
    ul.share {
        &.horizontal {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
    .head {
        h1 {
            font-size: 50px;
        }
        h4 {
            font-size: 1.5em;
            letter-spacing: 0.6px;
        }
        .author {
            grid-template-columns: 1fr 150px 150px;
            div+div {
                text-align: right;
            }
            margin-bottom: 10px;
        }
    }
    .reading-width {
        max-width: 800px;
    }
}

// Tablets
@media (max-width: 786px) {
    .overlay-banner {
        left: 4%;
    }
    .banner {
        .container {
            #contents {
                padding-top: 6%;
                padding-bottom: 6%;
                h1.landing-heading {
                    font-size: 40px;
                    line-height: 55px;
                }
                &>* {
                    margin: 10px 0;
                }
            }
        }
    }
    .paragraphs {
        .section {
            font-size: 1.15em;
            line-height: 1.9em;
        }
    }
    ul.share {
        &.horizontal {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
    .head {
        h1 {
            font-size: 40px;
        }
        h4 {
            font-size: 1.4em;
            letter-spacing: 0.6px;
        }
        .author {
            grid-template-columns: 1fr 150px 150px;
            div+div {
                text-align: right;
            }
        }
    }
    .reading-width {
        max-width: 550px;
    }
}

// HD phones
@media (max-width:425px) {
    .overlay-banner {
        left: -3%;
    }
    .banner {
        .container {
            #contents {
                padding-top: 8%;
                padding-bottom: 8%;
                h1.landing-heading {
                    font-size: 28px;
                    line-height: 40px;
                }
                &>* {
                    margin: 5px 0;
                }
            }
        }
    }
    .paragraphs {
        .section {
            font-size: 1em;
            line-height: 1.6em;
        }
    }
    ul.share {
        &.horizontal {
            li {
                a {
                    font-size: 17px;
                }
            }
        }
    }
    .head {
        h1 {
            font-size: 33px;
        }
        h4 {
            font-size: 1em;
            letter-spacing: 0.4px;
        }
        .author {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            div:nth-child(2) {
                text-align: left;
            }
            div:first-child {
                grid-column: 1 /span 2;
                margin-bottom: 5px;
            }
            div+div {
                grid-row-start: 2;
            }
        }
    }
    .reading-width {
        max-width: 410px;
    }
    .bookmark {
        display: none;
    }
    .nav {
        ul {
            &.breadcrumb {
                li {
                    font-size: 0.8em;
                }
            }
        }
    }
    .newsletter-widget {
        h4 {
            font-size: 18px;
        }
    }
}

// Phones
@media (max-width:375px) {
    .overlay-banner {
        left: -8%;
    }
    .banner {
        .container {
            #contents {
                padding-top: 8%;
                padding-bottom: 8%;
                h1.landing-heading {
                    font-size: 22px;
                    line-height: 30px;
                }
                h5#episodes {
                    font-size: 12px;
                }
                .button {
                    font-size: 12px;
                }
                img {
                    height: 45px;
                }
                &>* {
                    margin: 0;
                }
            }
        }
    }
    .content {
        .episode-list {
            table {
                td {
                    div {
                        h5 {
                            span.name {
                                font-size: 16px;
                            }
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .paragraphs {
        .section {
            font-size: 1.05em;
            line-height: 1.6em;
        }
    }
    ul.share {
        &.horizontal {
            li {
                a {
                    font-size: 16px;
                    align-content: flex-start;
                }
            }
        }
    }
    .nav {
        .chapter {
            grid-template-columns: 90px 1fr;
            span {
                font-size: 14px;
            }
            &>*:first-child::after {
                padding-left: 8px;
            }
        }
    }
    .head {
        h1 {
            font-size: 28px;
        }
        h4 {
            font-size: 0.7em;
            letter-spacing: 0.4px;
        }
        .author {
            div {
                span {
                    font-size: 12px;
                }
            }
        }
    }
    .paragraphs {
        .section {
            font-size: 0.9em;
            line-height: 1.5em;
            h3.heading {
                font-size: 22px;
            }
            .text-15{
                font-size: 1.2em;
            }
        }
    }
    .reading-width {
        max-width: 360px;
    }
    .newsletter-widget {
        svg {
            height: 40px;
        }
        h6 {
            font-size: 14px;
        }
        input[type='submit'] {
            font-size: 12px;
        }
    }
}