nav.navigation {
    background: #f5f5f5;
    width: 100%; // border-bottom: 0.5px solid #d1d1d1;
    .container {
        img {
            margin: 5px 0;
        }
        padding: 0 0;
        max-width: 92%;
        ul.big {
            list-style: none;
            li {
                display: inline-block;
                margin: 0 25px;
                font-weight: 700;
                line-height: 60px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: @gray-text;
                    text-transform: uppercase;
                }
            }
        }
        .small {
            #ham {
                padding: 15px;
                line-height: 30px;
                font-size: 24px;
            }
        }
    }
}

#hidden-menu {
    background: fade(@accent-clr-light, 90%);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    display: none;
    #overlay-close {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 20px;
        i {
            font-size: 30px;
            color : @color-white;
        }
    }
    ul {
        margin-top: 20vh;
        list-style: none;
        width: 100vw;
        li {
            padding: 20px;
            width: 100%;
            text-align: center;
            a {
                font-size: 30px;
                color: @color-white;
                font-family: 'Raleway', sans-serif;
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width:768px) {
    .big {
        display: block;
    }
    .small {
        display: none;
    }
}

@media (max-width:768px) {
    .big {
        display: none;
    }
    .small {
        display: inline-block;
    }
}