.newsletter-widget {
    background: @accent-clr-light;
    width: 100%;
    padding: 20px 0;
    color: @color-white;
    max-height: 500px;
    * {
        margin: 25px auto;
    }
    h4 {
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: 'Bitter', serif;
    }
    h6 {
        text-align: center;
    }
    form {
        input[type='email'] {
            max-width: 450px;
            padding: 20px;
            background: @mute-gray-bg;
            color: @focus-accent-clr;
            text-align: center;
            border-radius: 10px;
        }
        input {
            margin: 15px auto;
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .newsletter-widget {
        h3{
            font-size: 25px;
        }
    }
}