.centre {
    // background-color: @accent-clr;
    display: table;
    margin: 0 auto;
}

ul.share {
    list-style: none;
    &.light {
        li {
            a {
                color: @accent-clr;
            }
        }
    }
    &.horizontal {
        li {
            display: inline-block;
            &+li::before{
                padding: 0 11px;
                content: ' ';
            }
        }
    }
    &.vertical {
        li {
            a {
                color: gray;
            }
            &+li::before{
                padding: 7px;
            }
            font-size: 18px;
        }
    }
}