include ../partials/share.pug
mixin list(value)
    #{value.el}
        each child,index in (value.child)
            if child.el =='ol' || child.el =='ul'
                +list( child )
            else if child.el == "img"
                img(src=`${child.src}`, alt=`${child.alt}`,width="100%")
            else if child.el == "div"
                +div(child)
            else if child.el == "a"
                #{child.el}(href=`${child.href}`,class=`${child.class}`)=child.innerHTML
            else
                if child.class
                    #{child.el}(class=`${child.class}`)=child.innerHTML
                else
                    #{child.el}=child.innerHTML

mixin div(value)
    #{value.el}(class=`${value.class}`)
        each child,index in (value.child)
            if child.el =='ol' || child.el =='ul'
                +list(child)
            else if child.el == "img"
                img(src=`${child.src}`, alt=`${child.alt}`,width="100%")
            else if child.el == "div"
                +div(child)
            else if child.el == "a"
                #{child.el}(href=`${child.href}`,class=`${child.class}`)=child.innerHTML
            else
                if child.class
                    #{child.el}(class=`${child.class}`)=child.innerHTML
                else
                    #{child.el}=child.innerHTML
    
doctype html
html(lang='en')
    include ../partials/head.pug
    body
        include ../partials/navbar.pug
        .nav
            .container
                //- ul.breadcrumb
                //-     li
                //-         a(href="../../") Home
                //-     li
                //-         a().active=data.title
                div.chapter
                    span=`CHAPTER ${chapNum}`
                    +share('left','light')

        .head.container
            h1=data.title
            blockquote.color
                h4=data.subhead
            div.author
                div
                    span=data.author+` • `+data.date+` • `+data.readTime+` min`
                div
                    if before.link
                        a(href=`${before.link}`) Previous Episode
                    else
                        a().mutedLink Previous Episode
                div 
                    if after.link
                        a(href=`${after.link}`) Next Episode
                    else
                        a().mutedLink Next Episode
            img(src=data.bannerImage, alt="image",width="100%").center#bannerImage
        
        .paragraphs.container.reading-width
            ul.share.light.vertical.bookmark#bookmark.u-transition--fadeOut300.fixed
                //- li
                //-     a(href="#",class="fa fa-bookmark-o")
                li
                    a(href="https://www.facebook.com/sharer/sharer.php?u=guides.spext.co&quote=Loving these guides!", target="_blank", class="fa fa-facebook")
                li
                    a(href="https://twitter.com/intent/tweet?text=Loving%20guides.spext.co%20from%20@spext_app", target="_blank", class="fa fa-twitter")
                li
                    a(href="https://plus.google.com/share?url=guides.spext.co", target="_blank",class="fa fa-google-plus")
                li
                    a(href="https://www.linkedin.com/shareArticle?mini=true&url=guides.spext.co&title=Loving%20guides.spext.co%20from%20%40spext_app", target="_blank",class="fa fa-linkedin")
                li
                    a(href="mailto:?subject=Hey! check out guides.spext.co",class="fa fa-envelope")
            - let sections = data.paragraph
            if sections
                for val,index in sections
                    .section
                        for value,ind in val
                            if value.el == 'ol' || value.el == 'ul'
                                +list(value)
                            else if value.el == "img"
                                img(src=`${value.src}`, alt=`${value.alt}`,width="100%")
                            else if value.el == "div"
                                +div(value)
                            else if value.el == "a"
                                #{value.el}(href=`${value.href}`,class=`${value.class}`)=value.innerHTML
                            else 
                                if value.class
                                    #{value.el}(class!=`${value.class}`)=value.innerHTML
                                else
                                    #{value.el}=value.innerHTML
                                    
        .controls.container.max-width-800u
            .previous
                if before.link
                    a(href=`${before.link}`) Previous Episode
                    p=before.title
            .next
                if after.link
                    a(href=`${after.link}`) Next Episode
                    p=after.title

        include ../partials/newsletter.pug