doctype html
html(lang='en')
    include ./partials/head.pug
    include ./partials/share.pug
    body
        include ./partials/navbar.pug
        img(src="/image/home/blog-page-illustration.svg",alt="Mic Illustration").overlay-banner
        .banner
            .container
                #contents
                    +share('left')
                    h1.landing-heading A step-by-step guide on<br>how to start a podcast
                    - var noOfEpisodes = epList.length
                    - var length = 0
                    for val,index in epList
                        - length = length + parseInt(val.time)
                    h5#episodes=noOfEpisodes+" episodes  |  " +length+" minutes"
                    - var firstURL =   `/episodes/${((epList[0].name).toLowerCase().replace(/ /g,'-').replace(/,/g, '-').replace(/&/g, '-'))}/`
                    div#branding
                        a.button.inverted.bigger(href=`${firstURL}`) start now!
                        img(src="/image/home/powered-by-spext.svg",height=`50px`,alt="Powered By Spext")
        .content
            .container
                .episode-list#eplist-table
                    table
                        tbody
                            for val,index in epList
                                - let url = `episodes/${((val.name).toLowerCase().replace(/ /g,'-').replace(/,/g, '-').replace(/&/g, '-'))}/`
                                tr(onclick=`linkTo('${url}')`)
                                    td
                                        div
                                            a(href=`${url}`)
                                                span.name= index+1 +'. '+val.name
                                                span.read-time= val.time+' mins'
                                            p= val.des
                                        div
                                            i(class="fa fa-chevron-right")
                                        
        include ./partials/newsletter.pug
        